body{
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1{
    color:cyan;
}

button{
    background-color: blue;
    color: white;
    padding: 8px;
    border: none;
}

li{
    margin: 5px;
}
